body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-top{
   padding: 0.3rem 1.5rem;
   background-color: #EC6C30;
   color: #fff;
   font-weight: 600;
   font-size: 13px;
}

.account-section span{
 display: flex;
 align-items: baseline;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

.searchButton{
    border-radius: 0 !important;
    background-color: #2670B7 !important;
}

.header-center{
    padding: 0.3rem 1.5rem;
}

.logo img{
    object-fit: contain;
    width: 100%;
    height: 3.5em;
}

.search-bar{
    display: flex;
    align-items: center;
}

.alignClass{
    align-items: center;
}

.header-bottom-navbar{
    background-color: #2670B7;
    justify-content: center;
    padding: 0.5rem;
}

.header-bottom-navbar a{
    margin: 0px 14px;
    padding: 5px 5px;
    color: #fff !important  ;
 }

 .header-bottom-navbar a:hover{
    background-color: #fff;
    color: #2670B7;
 }

 .header-bottom-navbar .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
   background-color: #fff;
   color: #2670B7 !important;
 }
