.signUp .btn {
  background-color: #2670b7;
  color: #fff !important;
}
.signUp .btn:hover {
  background-color: #2670b7;
  color: #fff;
}

.logoSection {
  background-color: #2670b7;
  padding: 1em;
  border-radius: 20px 0px 0px 20px;
}
.logoSections {
  background-color: #2670b7;
  border-radius: 20px 0px 0px 20px;
}

.formSection {
  background-color: rgba(38, 112, 183, 0.07);
  /* height: 100vh; */
  border-radius: 0px 20px 20px 0px;
}

.loginLogo {
  text-align: center;
  padding: 9em 0;
}
.nav-tabs {
  padding: 0em 4em !important;
}
.loginLogo img {
  width: 50%;
}

.padd {
  padding: 0 !important;
}
.formSection .nav-item {
  width: 50%;
  text-align: center;
}

.formSection .nav-item .nav-link {
  margin: auto !important;
  color: #000;
  font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ec6c30 !important;
  border-bottom: 2px solid #ec6c30 !important;
  font-weight: 600;
}

.tabSection {
  padding: 5em 6em;
}
.tabSections {
  padding: 1em 6em;
}

.forgot {
  color: #000;
  margin-top: 10px;
}

.forgot a {
  color: #000;
  font-size: 14px;
}
a {
  color: #000 !important;
  font-size: 14px !important;
}

.submitBtn .btn {
  background-color: #2670b7;
  color: #fff;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.note {
  font-size: 14px;
  margin-top: 1em;
}

.back {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #fff !important;
}

.register {
  background-color: #2670b7 !important;
  color: #fff !important;
  text-align: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.tabSections p {
  margin-bottom: 5px !important;
  font-size: 14px;
}
.banner img {
  width: 100%;
}
.cat-cards {
  margin-top: 2em;
}
.mainCard img {
  width: 100%;
  border-radius: 60px 10px;
}
.mainCard {
  position: relative;
}
.cardHead {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.793548) 31.25%,
    #ffffff 48.44%,
    rgba(255, 255, 255, 0.781818) 65.1%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.cardHead h3 {
  text-align: center;
  margin-bottom: 0px !important;
  padding: 0.5em 0;
  font-weight: 600;
  color: #202020;
}
.filterAccordain a {
  text-decoration: none;
}
.filterAccordain p {
  color: #787878;
  font-size: 16px;
}
.filterAccordain .accordion-item {
  border: none;
}
.filterAccordain .accordion-header .accordion-button {
  background-color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  color: #2670b7;
  padding: 1em 0;
}
.filterAccordain {
  border: 1.07893px solid rgba(38, 112, 183, 0.1);
  /* padding: 1em; */
  border-radius: 5px;
  margin-bottom: 1em;
}
.filterHead h5 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0 !important;
  background-color: #e9f1f8;
  padding: 1em 0;
}
.accordion {
  padding: 1em;
}
.accordion-body {
  padding: 1em 0 !important;
}
.filterAccordain .accordion-header .accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.offer {
  display: flex;
  justify-content: space-between;
}
.listingCard {
  border: 1.07893px solid rgba(38, 112, 183, 0.1);
  border-radius: 5px;
}
.listing {
  margin: 2em 0;
}
.offer span {
  background-color: #e9f1f8;
  border-radius: 5px;
  width: 6em;
  text-align: center;
  padding: 5px;
}
.listingCard img {
  width: 100%;
}
.cardDetail {
  padding: 1em;
}
.priceDetail {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}
.priceDetail p {
  margin-bottom: 0 !important;
  padding: 3px 0;
}
.starRating svg {
  padding: 0 1px;
}
.addCart {
  background-color: #2670b7 !important;
  color: #fff !important;
  font-size: 12px !important;
  padding: 9px !important;
  width: 100%;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .logoSections {
    background-color: transparent !important;
  }
  .padd {
    padding: 15px !important;
  }
  .logoSection {
    border-radius: 20px;
  }
  .loginLogo {
    text-align: center;
    padding: 0 !important;
  }
  .loginLogo img {
    width: 25%;
  }
  .tabSection {
    padding: 1em 2em;
  }
  .formSection {
    border-radius: 20px;
  }
  .tabSections {
    padding: 1em 2em;
  }
  .registerSection {
    margin-top: 2em;
  }
}

.pageHead {
  text-align: center;
  margin: 2em 0;
}

.flip-card {
  background-color: transparent;
  margin: auto;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
img {
  width: 100%;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #e9f1f8;
  border-radius: 60px 10px;
  color: white;
  padding: 2em;
  transform: rotateY(180deg);
}

.subCat {
  background-color: #fff;
}

.subCat h5 {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 10px;
}

.subCat {
  margin: 1em 0;
}

.subCat a {
  text-decoration: none;
}

.subCat h5:hover {
  color: #2670b7;
}

.pageHead {
  text-align: center;
  justify-content: center;
}
.pageHead h3 {
  font-weight: 600 !important;
}

.cartHeading {
  display: flex;
  justify-content: space-between;
}

.cartHeading h5 {
  font-weight: 600;
}

.cartHeading {
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}
.cartHeadName h5 {
  font-weight: 600;
  color: #2670b7;
}

.quantity {
  border: 1px solid #2670b7;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  color: #000;
}

.addBtn {
  display: flex;
}
.cartHeadName {
  display: flex;
  justify-content: space-between;
}

.addBtn .btn {
  padding: 7px;
  border: 1px solid #2670b7;
}

.addNum {
  font-weight: 600;
  width: 2em;
  color: #2670b7;
  text-align: center;
  padding: 4px 0px;
}

.cuttedPrice::before {
  content: "";
  width: 3em;
  height: 2px;
  background-color: #989898;
  position: absolute;
  top: 10px;
  left: 0;
}

.cuttedPrice {
  position: relative;
  color: #989898;
  font-size: 16px;
  margin-left: 5px;
}

.price p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.savedAmount span {
  background-color: #e9f1f8;
  color: #2670b7;
  font-weight: 600;
  padding: 5px 6px;
  font-size: 15px;
}

.soldText h4 {
  font-size: 18px;
  color: #989898;
  font-weight: 600;
  margin-bottom: 0 !important;
  margin-top: 15px;
}

.soldText h4 a {
  color: #2670b7 !important;
}

.editSection {
  display: flex;
  justify-content: space-between;
}
.TotalPrice h3 {
  color: #2670b7;
}

.editSection {
  margin-top: 2em;
}
.editbtn .btn {
  padding-left: 0;
  color: #989898;
}
.TotalPrice h5 {
  margin-bottom: 0;
  color: #2670b7;
  font-weight: 600;
  padding: 5px 0;
}

.cartDetail {
  padding: 2em 0;
}

.itemCart {
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}

.promoBtn {
  display: flex;
  justify-content: space-between;
}

.promoCode .cartButtons button {
  background-color: #2670b7;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  border: none !important;
  border-radius: 0px 7px 7px 0px;
  box-shadow: none;
  padding: 10px !important;
}

.cartButtons .form-control {
  border-radius: 7px 0px 0px 7px !important;
  border: 1px solid #2670b7;
}

.promoCode label {
  color: #787878;
  font-weight: 600;
}

.priceDetail h5 {
  color: #787878;
  font-size: 16px;
  font-weight: 600;
}

.priceSection h4 {
  color: #2670b7;
  font-weight: 600;
  font-size: 22px;
  padding: 0px 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.priceSection {
  background: rgba(38, 112, 183, 0.1);
  padding: 10px 0;
  border-radius: 10px;
}

.priceDetail span {
  color: #787878;
  font-weight: 600;
}
.tChange {
  color: #ec6c30 !important;
}

.tAmount {
  color: #000;
  font-weight: 600;
}

.savedText {
  color: #ec6c30;
}
.priceDetail .tAmount {
  text-align: right !important;
}
.savedText {
  font-size: 12px;
  color: #ec6c30 !important;
}

.borderNone {
  border-bottom: none !important;
}
.placeBtn .btn {
  background-color: #2670b7 !important;
  text-align: center;
  color: #fff;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.addcartSection {
  height: 18em;
  height: 22.5em;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 10px;
}

.addcartSection::-webkit-scrollbar {
  width: 5px;
}

.addcartSection::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.addcartSection::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ec6c30;
}
.cartbannerSection {
  background-color: #fffae7;
  padding: 2em 0;
  margin-top: 6em;
}

.cartSimilar .recent-view-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.cartSimilar .recent-view-heading .btn {
  background: rgba(38, 112, 183, 0.07);
}

.cartSimilar .recent-view-heading h2 {
  font-size: 24px;
  font-weight: 900;
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0rem;
}

.cartSimilar {
  margin: 4em 0;
}
.addressTop {
  display: flex;
  justify-content: space-between;
}

.topD {
  display: flex;
}

.add {
  padding: 4px 2em !important;
}

.home {
  padding: 2px 0px !important;
  margin-left: 2em;
  font-size: 12px !important;
}

.topD h5 {
  color: #2670b7;
  font-weight: 600;
}

.addressTop h4 {
  font-weight: 600;
}

.AddDetail p {
  margin-bottom: 0px;
  color: #787878;
  font-size: 16px;
}

.addressDetail {
  border: 1px solid #2670b7;
  border-radius: 10px;
  padding: 1em;
}
.addressSection {
  padding: 1em;
  border-radius: 10px;
  background: rgba(38, 112, 183, 0.1);
  margin-top: 1em;
}

.AddDetail {
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.editAddBtn {
  background-color: #fff !important;
  border-radius: 100px !important;
  border: 1px solid #2670b7 !important;
  padding: 15px !important;
}

.addressBtn {
  display: inline-grid;
}

.MainHead h2 {
  font-size: 24px;
  font-weight: 600;
}

.footer-right-section a {
  text-decoration: none;
}

.my {
  color: #ec6c30;
}
.aboutHead h5 {
  color: #2670b7;
  font-weight: 600;
}

.aboutHead span {
  font-weight: 600;
}
.aboutHead {
  text-align: center;
}
.about {
  margin-top: 2em;
  text-align: center;
}

.about p {
  margin-top: 1em;
}

.aboutSection .banner-below {
  top: 0 !important;
  margin: 4em 0;
}
